table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

body {
    background-color: rgb(150, 114, 85);
}

h2 {

}

.coffee-box {
    flex-basis: 33%;
}

p {
    margin: 0;
    color: lightgray;
}
