table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

body {
    background-color: rgb(150, 114, 85);
}

h2 {
    font-family: 'Dela Gothic One', cursive;
    font-size: 25px;
}

.coffee-box {
    flex-basis: 33%;
}

p {
    margin: 0;
    color: lightgray;
    font-family: Cochin;
    border: solid white;
    border-radius: 10%;
    padding: 0 5px 0 5px;
}

h1 {
    font-family: 'Dela Gothic One', cursive;
}

.jumbotron {
    background-color: rgb(196,180,145);
}